.manager{
    margin-top: 50px;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

.manager thead{
    background-color: rgb(83, 177, 231);
}
.manager thead th{
    background-color: rgb(83, 231, 83);
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.manager{
    height: 400px;
    display:block;
    overflow:auto;
    background-color:white;
    box-shadow:0 2px 3px 0px rgb(32, 29, 29);
    border-radius: 15px;
}
.manager tbody{
    overflow: scroll;

}
.manager td{
    width: 300px;
    text-align: center;
}
.manager td, .manager th {
    height: 20px;
    padding: 8px;
  }
.manager tbody tr:hover{
    background-color: darkgoldenrod;
}