body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.wrapper{
    width: 100%;
    height:100vh;
    background-image: url('regis.jpg');
    background-size: cover;
    background-position: top;
}
.register{
    margin: 1% 1%;
    width: 35%;
    padding: 2% 0 2% 3%;
    box-sizing: border-box;
    justify-items: center;
    float: right;
}

.register .regis{
    background: rgba(145, 136, 120, 0.445);
    margin: 20px;
    padding-left: 20px;
    box-shadow:0 0px 1px 1px rgb(2, 2, 2);
    border-radius: 10px;
    box-sizing: border-box;
}

.register .regis input, button{
    height: 40px;
    margin-top: 30px;
    font-size: 20px;  
    color: rgb(255, 255, 255);
    padding-left: 5%;
    border: none;
    border-bottom: 2px solid;
    font-size: 18px;
    outline: none;
    background: transparent;
    transition: 1s;
}
.regis input:focus{
    transform: translateX(3rem);
}
.regis-btn{
    text-align: center;
    width: 160px;
    color: rgb(255, 0, 0);
    margin-left:30px;
    margin-bottom: 15px;
    background-color: rgb(34, 5, 5);
    cursor: pointer;
}
.regis-btn:hover{
    background: rgb(52, 91, 100);
}
label{
    color: rgb(150, 21, 21);
    font-size: 15px;
    display: block;
    margin-left: 10px;
}
::-webkit-input-placeholder {
    color:rgb(82, 22, 22);
    font-size: 17px;
}
.verify{
    background: white;
    position: relative;
    top:200px;
    width: 400px;
    border: solid 1px;
    margin: auto;
    display: none;
}
.verify form{
    margin: 20px;
}
.verify input{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
.btn-verify{
    background-color: rgb(31, 126, 235);
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    opacity: 0.5;
    margin: 20px auto;
    border: none;
}