* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    border: solid 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Laptop-Stock.jpeg');
}
.login{
    width: 400px;
    height: 400px;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0 0px 1px 1px rgb(8, 8, 8);
    background: rgba(0, 0, 0, 0.219);
}
.login .logo{
    width: 80px;
    display: block;
    margin: 30px auto 0;
}

.form{
    width: 75%;
    margin: 0 auto;
}
.login-label{
    font-size: 20px;
    color: rgb(245, 7, 59);
}
.login-input{
    background:transparent;
    color: white;
    width: 95%;
    height: 45px;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 5%;
    box-shadow: 0 0px 1px 1px rgb(255, 255, 255);
    border: none;
    outline: none;
}
.btn-form{
    margin-top: 40px;
}
.login-button{
    background-color:  rgb(28, 172, 172);
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: rgb(49, 39, 39);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.login-button:hover{
    background-color: rgb(168, 131, 116);
}
.re-register{
    background-color: rgb(255, 238, 0);
    height: 40px;
    width: 150px;
    float: left;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
    border-radius:20px;
    font-size: 20px;
}
.re-register:hover{
    background-color: rgb(53, 40, 25);
}
.re-register a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.login-face{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
::-webkit-input-placeholder {color:yellow;}